.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.header__arrowDisplay {
    display: none;
    filter: $filter3;
    transform: translateY(-50%);
    transition: 0.5s;
    width: 30px;
}

.header__logo {
    filter: $filter6;
    margin: 10px;
    padding: 10px;
    width: 70px;
}

.header__navlink {
    margin: 10px;
    padding: 10px;
    font-weight: bold;

    transition: .3s ease;

    &:hover {
        color: $color3;
    }
}

.header__navlink-selected {
    color: $color3;
}

// Responsive

@media ( max-width: 750px ) {
    .header {
       flex-direction: column; 
    }
    .header__logo {
        order: -1;
    }
    .header__navlink {
        display: none;
    }
    .header__arrowDisplay {
        display: block;
    }
    .header__arrowDisplay-clicked {
        transform: rotate(180deg);
    }
}