.booking {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.booking__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    & select {
        border: 1px solid $color6;
        text-align-last: center;
        width: 522px;
    }
}

.booking__form-item {
    // border: 1px solid $color6;
    font-size: 1.8rem;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    width: 500px;

    &:focus {
        outline: none;
    }
}

.booking__form-item-button {
    background-color: $color3;
    border-radius: 40px;

    border-style: solid;
    border-width: 2px;
    border-top-color: $color2;
    border-left-color: $color2;
    border-right-color: $color4;
    border-bottom-color: $color4;

    color: $color1;
    font-weight: bold;
    height: 40px;
    margin: 20px 0;
    width: 100px;

    transition: 0.1s ease-in-out;

    &:focus {
        outline: none;
    }

    &:active {
        border-style: solid;
        border-width: 2px;
        border-top-color: $color4;
        border-left-color: $color4;
        border-right-color: $color2;
        border-bottom-color: $color2;

        padding-left: 1px;
        padding-top: 2px;
    }
}

@media (max-width: 600px) {
    .booking__form-item {
        width: 300px;
    }

    .booking__form select {
        width: 324px;
    }
}