// Base

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
    font-family: 'Noto Sans', sans-serif;
    background-color: $color1;
    color: $color6;
}

.base__colored {
    color: $color3;
}