// Colors
$color1: #0f0f0f;
$color2: #17403e;
$color3: #00e49a;
$color4: #6ff887;
$color5: #ceff82;
$color6: #ebebeb;


// Filters for colors in SVG - https://codepen.io/sosuke/pen/Pjoqqp
$filter6: invert(99%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(115%) contrast(84%); // $color6